[Unit]
Description=auditbeat
Documentation=https://www.elastic.co/guide/en/beats/auditbeat/index.html
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/auditbeat --path.config=/etc/auditbeat --path.home=/usr/share/auditbeat -e
Restart=always
RestartSec=10
User=root
Group=root


[Install]
WantedBy=multi-user.target